html, body { 
    height: 100%; 
}

.chart-title {
    text-align: center;
    margin: auto auto;
}

.chart-area {
    display: block;
    margin: 0 auto;
}

.chart-box {
    text-align: center;
    margin: 10px auto;
}